/* Underwater ripple effect using SVG filter */
.charging-up {
  filter: url('#ripple-effect');
  will-change: filter;
  animation: none;
}

/*
  To use this effect, ensure the following SVG is present in your HTML (e.g., in public/index.html):

  <svg style="display:none;" xmlns="http://www.w3.org/2000/svg">
    <filter id="ripple-effect">
      <feTurbulence id="turb" type="turbulence" baseFrequency="0.02 0.04" numOctaves="2" seed="2" result="turb"/>
      <feDisplacementMap in2="turb" in="SourceGraphic" scale="12" xChannelSelector="R" yChannelSelector="G"/>
      <animate xlink:href="#turb" attributeName="seed" from="2" to="20" dur="2s" repeatCount="indefinite"/>
    </filter>
  </svg>

  This will apply a moving ripple effect to any element with the .charging-up class.
*/
