.dungeon-container{
    align-items: center;
    // align-items: flex-start;
    position: relative;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    
    .tile.inventory-tile{
        margin: 5px;
        background-color: lightgrey;
        
        &:hover{
            background-color: rgb(151, 176, 208) !important;
        }
        &.active{
            background-color: #f9b115 !important;
        }
    }
    .tile.inventory-tile.equipment{
        background-color: white;
        margin: 0;
        // height: 55px;
        // width: 55px;
        &.empty{
            background-color: transparent;
        }
    }
    .center-board-wrapper{
        position: relative;
        &.show-map-marker-cursor{
            cursor: crosshair;
        }
        .message-container{
            position: absolute;
            // border: 1px solid yellow;
            height: 50px;
            width: 100%;
            top: -52px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
    }
    .right-side-panel{
        overflow: hidden;
        height: 100%;
        padding-top: 25px;
        // border: 1px solid transparent;
        border-left: 1px solid lightgrey;
        z-index: 3;
        width: 200px;
        // min-width: 0px;
        min-width: 200px;
        transition: all 1s;
        overflow: scroll;
        right: -211px;
        &.expanded{
            right: 0;
            border-left: 1px solid lightgrey;
        }
        position: absolute;
        .icon-container{
            position: fixed;
            bottom: 10px;
            color: white;
            right: 10px;
            cursor: pointer;
            .expand-icon{
                transition: all 1s;
                &.expanded{
                    transform: rotateZ(-180deg);
                }
            }
        }
        .inventory{
            padding-top: 5px;
            align-items: center;
            display: flex;
            flex-direction: column;

            transition: all 1s;
            .title{
                color: white;
                position: sticky;
                top: 30px;
                background: black;
                z-index: 100;
                height: 40px;
                line-height: 40px;
                margin-bottom: 10px;
            }
            .gold-readout, .shimmering-dust-readout, .totems-readout{
                color: white;

            }
            .inventory-tile-container{
                width: 170px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                max-height: 820px;
                overflow: scroll;
                padding-top: 10px;
                .sub-container{
                    position: relative;
                    margin-bottom: 8px;
                    transition: filter 1s;
                    &.consumed{
                        filter: blur(20px);
                    }
                    .hover-message-container{
                        position: absolute;
                        top: -11px;
                        left: 5px;
                        width: 54px;
                    }
                    .hover-message{
                        color: white;
                        text-align: center;
                        font-size: 9px;
                        display: flex;
                        justify-content: center;
                        white-space: nowrap;
                        
                    }
                    // .tile.inventory-tile{
                    //     margin: 5px;
                    //     background-color: lightgrey;
                        
                    //     &:hover{
                    //         background-color: rgb(151, 176, 208) !important;
                    //     }
                    //     &.active{
                    //         background-color: #f9b115 !important;
                    //     }
                    // }
                }
            }
        }

        
        
    }
    .minimap-container{
        // height: 155px;
        // width: 198px;
        display: flex;
        flex-direction: column;
        width: 180px;
        .map-wrapper{
            height: 155px;
            width: 198px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
            .level-indicator{
                position: absolute;
                border: 1px solid #2a2929;
                width: 4px;
                height: 100%;
                left: 6px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                .floor-level{
                    border: 1px solid rgb(111, 111, 110);
                    height: 29px;
                    width: 100%;
                    &.active{
                        border: 1px solid #adad93;
                        background-color: #adad93;
                    }
                }
            }
            .minimap-tile{
                border: 1px solid #212121;
                position: relative;
                height: 50px;
                width: 50px;
                background: black;
                transition: transform 1s;
                &:hover{
                    cursor: pointer;
                    border: 1px solid rgba(253, 224, 224, 0.523);
                }
                &.active{
                    border: 1px solid rgba(138, 2, 2, 0.523);
                    &:hover{
                        border: 1px solid rgba(189, 3, 3, 0.623);
                    }
                }
                &.zoomed{
                    // background: black;
                    z-index: 1;
                    transform: scale(2.5);
                }
                &.zoomed.topLeft{
                    transform: scale(2.5) translate(40%, 40%);
                }
                &.zoomed.topMid{
                    transform: scale(2.5) translate(0%, 40%);
                }
                &.zoomed.topRight{
                    transform: scale(2.5) translate(-40%, 40%);
                }
                &.zoomed.midLeft{
                    transform: scale(2.5) translate(40%, 0%);
                }
                &.zoomed.midRight{
                    transform: scale(2.5) translate(-40%, 0%);
                }
                &.zoomed.botLeft{
                    transform: scale(2.5) translate(40%, -40%);
                }
                &.zoomed.botMid{
                    transform: scale(2.5) translate(0%, -40%);
                }
                &.zoomed.botRight{
                    transform: scale(2.5) translate(-40%, -40%);
                }
                .player-position-indicator{
                    height: 2px;
                    width: 2px;
                    border-radius: 2px;
                    background-color: white;
                    position: absolute;
                    // top: 50%;
                    // left: 50%;
                }
                .minimap-indicator{
                    height: 2px;
                    width: 2px;
                    border-radius: 2px;
                    position: absolute;
                    &.enemy{
                        background-color: red;
                    }
                    &.stairs{
                        background-color: rgb(0, 174, 255);
                    }
                    &.gate{
                        width: 4px;
                        height: 4px;
                        border-radius: 0px;
                        background-color: rgb(223, 202, 117);
                        transform: rotate3d(55, 28, -59, 79deg);
                    }
                }
            }
        }
        .tray-wrapper{
            width: 100%;
            height: 0px;
            transition: all 1s;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 10px;
            align-items: flex-start;
            justify-content: flex-start;
            &.expanded{
                height: 190px;
            }
            &.double-expanded{
                height: 500px;
            }
            .clear-all-markers{
                font-size: 12px;
                min-height: 24px;
            }
            button{
                width: 100px;
                margin: 10px;
                cursor: pointer;
                // &:hover{
                //     background-color: antiquewhite;
                // }
            }
            .mark-map-tray{
                width: 100%;
                height: 0%;
                transition: all 1s;
                overflow: hidden;
                padding: 0px 10px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                // background-color: white;
                &.expanded{
                    height: 190px;
                }
                select{
                    margin-bottom: 10px;
                }
                input{
                    max-width: 115px;;
                    margin-bottom: 10px;
                }
                .place-marker-button{
                    margin-bottom: 10px;
                }
            }
        }
    }
    .left-side-panel{
        height: 100%;
        overflow: hidden;
        border-right: 1px solid lightgrey;
        z-index: 3;
        width: 200px;
        // min-width: 0px;
        transition: all 1s;
        position: absolute;
        left: -202px;
        &.expanded{
            left: 0;
            border-right: 1px solid lightgrey;
            // min-width: 200px;
            .crew{
                // right: 20px;
            }
        }
        
        .crew-container{
            // position: absolute;
            right: -200px;
            top: 29px;
            transition: all 1s;
            // height: 106px;
            .title{
                color: white;
                position: sticky;
                top: 0px;
                background: black;
                z-index: 100;
                height: 40px;
                line-height: 40px;
                margin-bottom: 10px;
            }
            .crew-tile-container{
                width: 170px;
                display: flex;
                flex-wrap: wrap;
                .sub-container{
                    position: relative;
                    .hover-message{
                        color: white;
                        position: absolute;
                        font-size: 9px;
                        top: -7px;
                        left: 5px;
                    }
                    .tile.crew-tile{
                        margin: 5px;
                        // border: 2px solid yellow !important;
                        background-color: lightgrey;
                        &:hover{
                            background-color: rgb(151, 176, 208) !important;
                        }
                        &.active{
                            background-color: #f9b115 !important;
                        }
                    }
                }
            }
        }
        .crew-info-section{
            // border: 1px solid white;
            height: auto;
            width: 100%;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // padding: 25px 0px;
            .stat-line{
                width: 100%;
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                padding: 0px 25px;
                span.stat-value{
                    margin-left: 10px;
                }
            }
            .portrait-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                .portrait{
                    height: 100px;
                    width: 100px;
                    // background-color: white;
                    background-size: 100% 100%;
                }
                .cooldowns-container{
                    height: 100px;
                    width: 50px;
                    // border: 1px solid yellow;
                    position: absolute;
                    right: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .special-action-wrapper{
                        height: 30px;
                        width: 30px;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .special-action-icon{
                            height: 25px;
                            width: 25px;
                            border: 1px solid #ffffff33;
                            background-color: black;
                            border-radius: 25px;
                            // background-size: 100% 100%;
                            z-index: 10;
                            position: relative;
                            background-size: 22px 22px;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        .underlay{
                            top: 0;
                            position: absolute;
                            z-index: 0;
                            height: 28px;
                            width: 28px;
                            border-radius: 50%;
                            background-color: white;
                        }
                        .progress-overlay{
                            box-sizing: border-box;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 50%;
                            position: absolute;
                            z-index: 5;
                            background-color: black;
                        }
                        .right,.left{
                            box-sizing: border-box;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 50%;
                            position: absolute;
                            border: 3px solid gray;
                            border-radius: 28px 0px 0px 28px;
                            transform-origin: right;
                        }
                        .left{
                            // border-right: 0;
                        }
                        .right{
                            // border-left: 0;
                        }
                    }
                    .progress {
                        width: 200px;
                        height: 200px;
                        font-size: 30px;
                        color: #fff;
                        border-radius: 50%;
                        overflow: hidden;
                        position: relative;
                        background: #07070c;
                        text-align: center;
                        line-height: 200px;
                        margin: 20px;
                        box-shadow: 2px 2px 2px 2px white;
                    }
                    .progress::after {
                        content: "";
                    }
                }
            }
            
            .name-line{
                text-decoration-line: underline;
            }
            .actions-tray{
                color: white;
                // height: 0px;
                overflow: hidden;
                transition: all 1s;
                border: 1px solid #bbbbb84d;
                width: calc(100% - 40px);
                padding: 0px 20px;
                height: 0px;
                min-height: 0px;
                position: relative;
                &.expanded{
                    // height: auto;
                    min-height: 50px;
                    // min-height: 80px;
                    // height: auto;
                }
                &.double-expanded{
                    min-height: 150px;
                }
                .actions-container{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    .action-wrapper{
                        position: relative;
                        .info-icon{
                            position: absolute;
                            // top: 11px;
                            // right: 7px;
                            top: 5px;
                            right: -27px;
                            height: 25px;
                            width: 25px;
                            background-size: 100% 100%;
                            cursor: pointer;
                            filter: invert(0.8);
                            &:hover{
                                filter: invert(0);
                            }
                        }
                        .action-hover-wrapper{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            cursor: pointer;
                            padding: 5px 10px;
                            position: relative;
                            &:hover{
                                background-color: rgba(143, 143, 135, 0.488);
                            }
                            .progress-overlay{
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 100%;
                                width: 100%;
                                background-color: #f9b11554;
                                border: 1px solid transparent;
                            }
                            .action-icon{
                                height: 28px;
                                width: 28px;
                                color: white;
                                background-size: 100% 100%;
                                margin-right: 10px;
                            }
                        }
                        .action-sub-menu{
                            height: 0px;
                            min-height: 0px;
                            width: 100%;
                            // border: 1px dashed yellow;
                            overflow: hidden;
                            transition: all 1s;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding-left: 10px;
                            justify-content: center;
                            &.expanded{
                                min-height: 80px;
                            }
                            .action-subtype{
                                cursor: pointer;
                                user-select: none;
                                &:hover{
                                    color: #f9b115;
                                }
                                &.in-progress{
                                    color: #f9b115;
                                    pointer-events: none;
                                }
                                &.disabled{
                                    cursor:default;
                                    color: #4f4d4d;
                                    pointer-events: none;
                                    &:hover{
                                        color: #4f4d4d;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .equipment-panel{
                width: 100%;
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                .equipment-line{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0 25px;
                    margin-bottom: 18px;
                    .equipment-icon{
                        position: relative;
                        // height: 54px;
                        // width: 54px;
                        border: 1px solid white;
                        .equipment-name{
                            position: absolute;
                            height: 12px;
                            width: 100%;
                            top: -15px;
                            // border: 1px solid yellow;
                            font-size: 10px;
                            line-height: 12px;
                        }
                    }
                }
            }
            .description-panel{
                height: 145px;
                width: calc(100% - 20px);
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                padding: 0px 10px;
                text-align: left;
                white-space: pre-wrap;
            }
        }
        .icon-container{
            color: white;
            cursor: pointer;
        }
        .icon-container.menu{
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 50px;
            margin: 5px;
            svg{
                margin-right: 10px;
            }
        }
        .icon-container.expand-collapse-button{
            position: fixed;
            bottom: 10px;
            left: 10px;
            cursor: pointer;
            .expand-icon{
                transition: all 1s;
                &.expanded{
                    // color: black;
                    transform: rotateZ(-180deg);
                }
            }
        }
    }
}
.dark-mask{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
}
.info-panel{
    color: white;
    position: absolute;
    top: 12px;
    right: 76px;


}
.overlay-board{
    position: absolute;
    z-index: 10;
    display: flex !important;
    flex-flow: row wrap !important;
    align-content: flex-end !important;
    box-sizing: content-box;
    // pointer-events: none;
}
.board{
    // border: 1px solid black;
    display: flex !important;
    flex-flow: row wrap !important;
    align-content: flex-end !important;
    box-sizing: content-box;
}
// .monster-battle-board{
//     border: 3px solid rgb(185, 15, 15);
//     width: 66%;
//     height: 500px;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     .mb-col{
//         width: 200px;
//         height: 100%;
//     }
//     .left-col{
//         border-right: 1px solid yellow;
//     }
//     .right-col{
//         border-left: 1px solid orange;

//     }
// }

#myCanvas{
    height: 1504px; 
    width: 1504px;
    position: absolute;
    z-index: -1;
}
.pyramid-level{
    border: 1px solid grey;
    background-color: whitesmoke;
    height: 250px;
    width: 80px;
    position: fixed;
    left: 144px;
    display: flex;
    flex-direction: column;
}
.pyramid-top,.pyramid-mid,.pyramid-bot{
    height: 150px;
    width: 100%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.pyramid-top.active,.pyramid-mid.active,.pyramid-bot.active{
    background-color: slategray;
}
.message-panel{
    position: absolute;
    color: white;
    top: 15px;
}