.palette-options-pane{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .palette-option-container{
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        .text-container{
            width: 64%;
            // border: 1px solid blue;
            // background-color: yellow;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity:0;
            transition: all 0.5s;
            
            &.hovered{
                opacity:1
            }
            &.pinned{
                opacity:1
            }
        }
    }
}
.previews-container{
    // height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .map-preview{
        // border: 1px solid blue;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-end;
        .mini-tile{
            height: 3px;
            width: 3px;
            // border: 1px solid black;
        }
    }
}
.container{
    .view-toggle-button{
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: white;
        border: none;
        height: 30px;
        width: 100px;
    }
    .toast-pane{
        background-color: white;
        top: 10px;
        position: absolute;
        width: 100px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .palette{
        .buttons-container{
            display: flex;
            flex-direction: column;
        }
    }
}
.mini-boards-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    .mini-board{
        border: 1px solid pink;
    }
}