.palette-options-pane{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .palette-option-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        .text-container{
            width: 64%;
            // border: 1px solid blue;
            // background-color: yellow;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity:0;
            transition: all 0.5s;
            &.hovered{
                opacity:1
            }
            &.pinned{
                opacity:1
            }
        }
    }
}
.previews-container{
    // height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .map-preview{
        // border: 1px solid blue;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-end;
        .mini-tile{
            height: 3px;
            width: 3px;
            // border: 1px solid black;
        }
    }
}
.container{
    .palette{
        .buttons-container{
            display: flex;
            flex-direction: column;
        }
    }
}