.mb-board{
    border: 1px solid rgb(185, 15, 15);
    width: 66%;
    // height: 600px;
    height: calc(100% - 2px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    

    // linear-gradient(90deg,black, white 14%,black 30%)

    // .animated 

    


    .fighterHitsAnimation
    {
        background: linear-gradient(90deg,transparent, white 48%, transparent 51%);
        background-size: 200% 200%;
        -webkit-animation: FighterHits 1s ease ;
        -moz-animation: FighterHits 1s ease ;
        animation: FighterHits 1s ease ;
        background-position:-98% 110%;
    }

    @-webkit-keyframes FighterHits {
        0%{background-position:100% 0%}
        50%{background-position:0% 100%}
        100%{background-position:-98% 110%}
    }
    @-moz-keyframes FighterHits {
        0%{background-position:100% 0%}
        50%{background-position:0% 100%}
        100%{background-position:-98% 110%}
    }
    @keyframes FighterHits { 
        0%{background-position:100% 0%}
        50%{background-position:0% 100%}
        100%{background-position:-98% 110%}
    }

    .monsterHitsAnimation
    {
        background: linear-gradient(90deg,transparent, red 6%, transparent 51%);
        background-size: 200% 200%;
        -webkit-animation: MonsterHits 1s linear ;
        -moz-animation: MonsterHits 1s linear ;
        animation: MonsterHits 1s linear ;
        background-position: 100% 100%;
    }
    @-webkit-keyframes MonsterHits {
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }
    @-moz-keyframes MonsterHits {
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }
    @keyframes MonsterHits { 
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }

    .fighterWoundedAnimation{
        // box-shadow: 0px 0px 0px red;
        -webkit-animation: fighterWoundedAnimation 0.5s linear;
        -moz-animation: fighterWoundedAnimation 0.5s linear;
        animation: fighterWoundedAnimation 0.5s linear;
    }
    @-webkit-keyframes fighterWoundedAnimation{
        0% {box-shadow: 0px 0px 0px red;}
        50%{box-shadow: 0px 0px 40px red;}
        100%{box-shadow: 0px 0px 10px red;}
    }
    @-moz-keyframes fighterWoundedAnimation {
        0% {box-shadow: 0px 0px 0px red;}
        50%{box-shadow: 0px 0px 40px red;}
        100%{box-shadow: 0px 0px 10px red;}
    }
    @keyframes fighterWoundedAnimation { 
        0% {box-shadow: 0px 0px 0px red;}
        50%{box-shadow: 0px 0px 40px red;}
        100%{box-shadow: 0px 0px 20px red;}
    }

    .monsterWoundedAnimation{
        background: linear-gradient(270deg, transparent, red 0%, transparent 2%);
        background-size: 100% 100%;
        background-position: 100% 100%;
    }
    @-webkit-keyframes MonsterHits {
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }
    @-moz-keyframes MonsterHits {
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }
    @keyframes MonsterHits { 
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }

    .fighterDeadAnimation{
        filter: blur(10px);
        -webkit-animation: FighterDead 5s forwards ;
        -moz-animation: FighterDead 5s forwards ;
        animation: FighterDead 5s forwards ;
    }
    .monsterDeadAnimation{
        filter: blur(10px);
        -webkit-animation: FighterDead 5s forwards ;
        -moz-animation: FighterDead 5s forwards ;
        animation: FighterDead 5s forwards ;
    }
    @-webkit-keyframes FighterDead {
        0%{filter: blur(1px);}
        70%{filter: blur(2px);}
        100%{filter: blur(13px);}
    }
    @-moz-keyframes FighterDead {
        0%{filter: blur(1px);}
        70%{filter: blur(2px);}
        100%{filter: blur(13px);}
    }
    @keyframes FighterDead { 
        0%{filter: blur(1px);}
        70%{filter: blur(2px);}
        100%{filter: blur(13px);}
    }
    

    

    

    .mb-col{
        width: 200px;
        // height: 100%;
        height: calc(100% - 230px);
        // border: 1px solid yellow;
    }
    .portrait{
        // filter: saturate(67.5);
        // filter: saturate(37.5);
        background-size: 100% 100%;
        &.active{
            filter: sepia(1);
        }
        &.dead{
            filter: saturate(0);
        }
    }
    .action-bar{
        width: 100%;
        height: 100px;
    }
    .left-col{
        position: absolute;
        width: 100%;
        // padding-top: 50px;
        // top: 50px;
        .fighter-content{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .fighter-wrapper{
            // border: 1px solid lightgrey;
            width: 100%;
            height: 110px;
            height: fit-content;
            display: flex;
            position: absolute;
            transition: 1s;
            &.leader-wrapper{
                // height: 160px;
            }
            .portrait-wrapper{
                .fighter-portrait{
                    height: 100px;
                    width: 100px;
                    border-radius: 100px;
                    cursor: pointer;
                    // box-shadow: 0px 0px 5px transparent;
                    // 0 - 40
                    &.wounded{
                        // box-shadow: 0px 0px 5px red;
                        animation: fighterWoundedAnimation 3s ease;
                    }
                    &.leader-portrait{
                        // height: 150px;
                        // width: 150px;
                    }
                    &.selected{
                        border: 1px solid white;
                    }
                }
            }
            .action-bar-wrapper{
                height: 100px;
                // width: 100%;
                // width: calc(100% - 300px);
                display: flex;
                align-items: center;
            }
        }
    }
    .right-col{
        position: absolute;

        pointer-events: none;


        // border: 1px solid red;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        // border-left: 1px solid orange;
        // .fighter-portrait{
        //     height: 100px;
        //     width: 100px;
        //     background-size: 100% 100%;
        //     &.active{
        //         filter: sepia(1);
        //     }
        // }
        .monster-wrapper{
            width: 100%;
            // display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            // position: relative;
            position: absolute;
            transition: 1s;

            // border: 1px solid green;
            display: inline-flex;

            .portrait-wrapper{
                position: absolute;
                width: 100px;
                transition: 1s;
            }

            .monster-portrait, .minion-portrait{
                // height: 200px;
                // width: 200px;
                // border-radius: 200px;
                height: 100px;
                width: 100px;
                border-radius: 100px;
                pointer-events: initial;
                position: relative;
                &.targetted{
                    border: 1px solid white;
                }
                .targetted-by-container{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 20px;
                    // border: 1px solid white;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: row;
                    .targetted-by-portrait{
                        height: 20px;
                        width: 20px;
                        background-size: 100% 100%;
                    }
                }
                &.minion-portrait{
                    height: 100px;
                    width: 100px;
                }
            }
            .action-bar-wrapper{
                height: 200px;
                width: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
    
    

    .center-board{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .top-section{
            width: 100%;
            height: 200px;
            // border: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            // .message{
            //     color: white;
            // }
            .greeting-text{
                color: white;
                position: absolute;
                top: 0px;
            }
            &.monster-action{
                justify-content: flex-end; 
                .greeting-text{
                    padding-right: 20px;
                    color: rgb(152, 46, 46);
                }
            }
            &.fighter-leader-action{
                justify-content: flex-start; 
                .greeting-text{
                    padding-left: 20px;
                    // color: red;
                }
            }
            .action-text{
                color: white;
                position: absolute;
                top: 20px;

                &.monster-source{
                    text-align: right;
                    padding-right: 20px;
                }
                &.fighter-source{
                    text-align: left;
                    padding-left: 20px;
                }
            }
            .action-color-band{
                height: 30%;
                width: 100%;
                position: absolute;
                top: 60px;
            }


            
            
        }
        .bottom-section{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .row{
                width: 100%;
                height: 100px;
                position: relative;
                // border: 1px solid blue;
                .action-color-band{
                    height: 30%;
                    width: 100%;
                    position: absolute;
                    top: 40px;
                }
                .action-text{
                    color: white;
                    &.monster-source{
                        text-align: right;
                        padding-right: 20px;
                    }
                    &.fighter-source{
                        text-align: left;
                        padding-left: 20px;
                    }
                }
            }
        }
    }
    .hp-bar, .energy-bar, .tempo-bar{
        height: 4px;
        width: 100%;
    }
    // .monster-hp-bar{
    //     width: 200px;
    // }
    // .leader-hp-bar{
    //     height: 4px;
    //     width: 150px;
        
    // }
    // .fighter-hp-bar{
    //     height: 4px;
    //     width: 100px;
    // }
    // .leader-energy-bar{
    //     height: 4px;
    //     width: 100px;
    // }
    // .fighter-energy-bar{
    //     height: 4px;
    //     width: 100px;
    // }
    // .fighter-energy-bar{
    //     height: 4px;
    //     width: 100px;
    // }
    .tempo-bar{
        position: relative;
        .tempo-indicator{
            height: 4px;
            width: 4px;
            border-radius: 4px;
            background-color: white;
            position: absolute;
            transition: 0.1s;
        }
    }
    .red-fill{
        background-color: red;
        height: 100%;
        // width: 80%;
    }
    .yellow-fill{
        background-color: rgb(195, 195, 87);
        height: 100%;

        width: 100%;
    }
    .purple-fill{
        background-color: rgb(126, 47, 222);
        height: 100%;

        width: 100%;
    }

    .mb-interaction-pane{
        height: 230px;
        width: 100%;
        position: absolute;
        bottom: 0;
        border: 1px solid gold;
        .header-row{
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            .portrait{
                height: 40px;
                width: 40px;
                border: 1px solid white;
                background-size: 100% 100%;
            }
            .title{
                flex: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                color: white;
                padding-left: 15px;
                position: relative;
                .name{

                }
                .readout {
                    margin-left: 6px;
                }
                .paused-marker{
                    position: absolute;
                    right: 20px;
                }
            }
        }
        .interaction-row{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            flex: auto;
            border: 1px dashed white;
            .inventory-col, .specials-col, .attacks-col, .target-col{
                height: 100%;
                width: 100px;
                border: 1px solid maroon;
                color: white;
                .interaction-header{
                    height: 25px;
                    width: 100%;
                    color: white;
                    text-align: center;
                    border-bottom: 1px solid white;
                }
                .interaction-tooltip{
                    height: 25px;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .interaction-tile-container{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    .interaction-tile-wrapper{
                        position: relative;
                        height: 40px;
                        width: 40px;
                        margin-bottom: 5px;
                    }
                    .interaction-tile-overlay{
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        // transition: 0.2s;
                        // background-color: #fdf512;
                        // background-color: rgb(255, 0, 166);
                        background-color: green;
                        opacity: 0.3;
                        pointer-events: none;
                        border-right: 1px solid black;
                    }
                    .interaction-tile{
                        height: 40px;
                        width: 40px;
                        // height: 100%;
                        // width: 100%;
                        background-color: whitesmoke;
                        margin-bottom: 3px;
                        // cursor: pointer;
                        background-size: 100% 100%;
                        &.available:hover{
                            filter: sepia(1);
                        }
                        &.consumable:hover{
                            filter: sepia(1)
                        }
                        &.special:hover{
                            filter: sepia(1)
                        }
                        &.target.targetted{
                            border: 1px solid rgba(255, 255, 255, 0.68);

                        }
                    }
                }
            }
        }
    }
    &.show-crosshair{
        cursor: crosshair !important;
    }
}