.mb-board{
    // border: 3px solid rgb(185, 15, 15);
    width: 66%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;


    // linear-gradient(90deg,black, white 14%,black 30%)

    // .animated 

    


    .fighterHitsAnimation
    {
        background: linear-gradient(90deg,transparent, white 48%, transparent 51%);
        background-size: 200% 200%;
        -webkit-animation: FighterHits 1s ease ;
        -moz-animation: FighterHits 1s ease ;
        animation: FighterHits 1s ease ;
        background-position:-98% 110%;
    }

    @-webkit-keyframes FighterHits {
        0%{background-position:100% 0%}
        50%{background-position:0% 100%}
        100%{background-position:-98% 110%}
    }
    @-moz-keyframes FighterHits {
        0%{background-position:100% 0%}
        50%{background-position:0% 100%}
        100%{background-position:-98% 110%}
    }
    @keyframes FighterHits { 
        0%{background-position:100% 0%}
        50%{background-position:0% 100%}
        100%{background-position:-98% 110%}
    }

    .monsterHitsAnimation
    {
        background: linear-gradient(90deg,transparent, red 6%, transparent 51%);
        background-size: 200% 200%;
        -webkit-animation: MonsterHits 1s linear ;
        -moz-animation: MonsterHits 1s linear ;
        animation: MonsterHits 1s linear ;
        background-position: 100% 100%;
    }

    .monsterWoundedAnimation{
        background: linear-gradient(270deg, transparent, red 0%, transparent 2%);
        background-size: 100% 100%;
        background-position: 100% 100%;
    }
    @-webkit-keyframes MonsterHits {
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }
    @-moz-keyframes MonsterHits {
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }
    @keyframes MonsterHits { 
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }

    .fighterDeadAnimation{
        filter: blur(10px);
        -webkit-animation: FighterDead 5s forwards ;
        -moz-animation: FighterDead 5s forwards ;
        animation: FighterDead 5s forwards ;
    }
    .monsterDeadAnimation{
        filter: blur(10px);
        -webkit-animation: FighterDead 5s forwards ;
        -moz-animation: FighterDead 5s forwards ;
        animation: FighterDead 5s forwards ;
    }
    @-webkit-keyframes FighterDead {
        0%{filter: blur(1px);}
        70%{filter: blur(2px);}
        100%{filter: blur(13px);}
    }
    @-moz-keyframes FighterDead {
        0%{filter: blur(1px);}
        70%{filter: blur(2px);}
        100%{filter: blur(13px);}
    }
    @keyframes FighterDead { 
        0%{filter: blur(1px);}
        70%{filter: blur(2px);}
        100%{filter: blur(13px);}
    }
    

    

    

    .mb-col{
        width: 200px;
        height: 100%;
    }
    .portrait{
        // filter: saturate(67.5);
        // filter: saturate(37.5);
        background-size: 100% 100%;
        &.active{
            filter: sepia(1);
        }
        &.dead{
            filter: saturate(0);
        }
    }
    .action-bar{
        width: 100%;
        height: 100px;
    }
    .left-col{
        // border: 1px solid yellow;
        position: absolute;
        width: 100%;
        padding-top: 50px;
        .fighter-content{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .fighter-wrapper{
            // border: 1px solid lightgrey;
            width: 100%;
            height: 110px;
            height: fit-content;
            display: flex;
            &.leader-wrapper{
                // height: 160px;
            }
            .portrait-wrapper{
                .fighter-portrait{
                    height: 100px;
                    width: 100px;
                    &.leader-portrait{
                        // height: 150px;
                        // width: 150px;
                    }
                }
            }
            .action-bar-wrapper{
                height: 100px;
                // width: 100%;
                // width: calc(100% - 300px);
                display: flex;
                align-items: center;
            }
        }
    }
    .right-col{
        position: absolute;
        pointer-events: none;
        // border: 1px solid red;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        // border-left: 1px solid orange;
        // .fighter-portrait{
        //     height: 100px;
        //     width: 100px;
        //     background-size: 100% 100%;
        //     &.active{
        //         filter: sepia(1);
        //     }
        // }
        .monster-wrapper{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            transition: 1s;

            // border: 1px solid green;
            .monster-portrait{
                height: 200px;
                width: 200px;
            }
            .action-bar-wrapper{
                height: 200px;
                width: 100%;
                display: flex;
                align-items: center;
            }
        }
    }
    
    

    .center-board{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .top-section{
            width: 100%;
            height: 200px;
            // border: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            // .message{
            //     color: white;
            // }
            .greeting-text{
                color: white;
                position: absolute;
                top: 0px;
            }
            &.monster-action{
                justify-content: flex-end; 
                .greeting-text{
                    padding-right: 20px;
                    color: rgb(152, 46, 46);
                }
            }
            &.fighter-leader-action{
                justify-content: flex-start; 
                .greeting-text{
                    padding-left: 20px;
                    // color: red;
                }
            }
            .action-text{
                color: white;
                position: absolute;
                top: 20px;

                &.monster-source{
                    text-align: right;
                    padding-right: 20px;
                }
                &.fighter-source{
                    text-align: left;
                    padding-left: 20px;
                }
            }
            .action-color-band{
                height: 30%;
                width: 100%;
                position: absolute;
                top: 60px;
            }


            
            
        }
        .bottom-section{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .row{
                width: 100%;
                height: 100px;
                position: relative;
                // border: 1px solid blue;
                .action-color-band{
                    height: 30%;
                    width: 100%;
                    position: absolute;
                    top: 40px;
                }
                .action-text{
                    color: white;
                    &.monster-source{
                        text-align: right;
                        padding-right: 20px;
                    }
                    &.fighter-source{
                        text-align: left;
                        padding-left: 20px;
                    }
                }
            }
        }
    }
    .hp-bar, .energy-bar, .tempo-bar{
        height: 4px;
        width: 100%;
    }
    // .monster-hp-bar{
    //     width: 200px;
    // }
    // .leader-hp-bar{
    //     height: 4px;
    //     width: 150px;
        
    // }
    // .fighter-hp-bar{
    //     height: 4px;
    //     width: 100px;
    // }
    // .leader-energy-bar{
    //     height: 4px;
    //     width: 100px;
    // }
    // .fighter-energy-bar{
    //     height: 4px;
    //     width: 100px;
    // }
    // .fighter-energy-bar{
    //     height: 4px;
    //     width: 100px;
    // }
    .tempo-bar{
        position: relative;
        .tempo-indicator{
            height: 4px;
            width: 4px;
            border-radius: 4px;
            background-color: white;
            position: absolute;
            transition: 0.1s;
        }
    }
    .red-fill{
        background-color: red;
        height: 100%;
        // width: 80%;
    }
    .yellow-fill{
        background-color: rgb(195, 195, 87);
        height: 100%;

        width: 100%;
    }
    .purple-fill{
        background-color: rgb(126, 47, 222);
        height: 100%;

        width: 100%;
    }
}