.mb-board{
    z-index: 1;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border: 1px solid rgb(91, 110, 91);

    .summary-panel{
        height: 500px;
        width: 700px;
        background-color: #343434;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left: 7%;
        top: 25%;
        z-index: 1000;

        padding: 40px;

        .content-container{
            height: 80%;
            width: 100%;
            // border: 1px solid white;
            color: white;
            margin-bottom: 40px;
            text-align: left;
            .portraits-container{
                height: 200px;
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                .single-portrait-container{
                    height: 80px;
                    width: 80px;
                    // border: 1px solid red;
                    margin-right: 20px;
                    display: flex;
                    flex-direction: column;
                    .portrait{
                        height: 100%;
                        width: 100%;
                        background-size: 100% 100%;
                        filter: saturate(50) sepia(0);
                    }
                    &.dead-member{
                        .portrait{
                            filter: none;
                        }
                    }
                    .level-up-canvas{
                        position: absolute;
                    }
                    canvas{
                        position: absolute;
                    }
                    .experience-bar-container{
                        width: 100%;
                        height: 3px;
                        .experience-bar{
                            height: 100%;
                            background-color: #f9b115e3;;
                            transition: all 2.5s ease-in-out;
                        }
                    }
                }
            }
        }
        .button-row{
            width: 100%;
            // calc(100% - 40px);
            height: 50px;
            display: flex;
            justify-content: flex-end;
            padding: 0 20px;
            .confirm-button{
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                width: 175px;
                height: 50px;
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                &:hover{
                    background-color: #3e3e3e;
                }
            }
        }
    }

    .combat-grid-container{
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        .message-container{
            width: 100%;
            height: 100%;
            color: white;
            position: absolute;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 101;
        }
        .summary-message-container{
            width: 100%;
            height: 100px;
            color: white;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .combat-grid, .animation-grid{
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .animation-grid{
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;

        pointer-events: none;
        // ^ may need to be dynamic 


        .animation-tile{
            height: 100px;
            width: 100px;
            position: relative;
            user-select: none;
            &.line-white-fade{
                @-webkit-keyframes TileAnimationLineWhiteFade {
                    0%{background: linear-gradient(180deg,transparent 28%, white 48%, transparent 51%)}
                    20%{background: linear-gradient(180deg,transparent 28%, white 48%, transparent 51%)}
                    60%{background: linear-gradient(180deg,transparent 28%, white 48%, transparent 51%)}
                    100%{background-color:transparent}
                }
                @-moz-keyframes TileAnimationLineWhiteFade {
                    0%{background: linear-gradient(180deg,transparent 28%, white 48%, transparent 51%)}
                    20%{background: linear-gradient(180deg,transparent 28%, white 48%, transparent 51%)}
                    60%{background: linear-gradient(180deg,transparent 28%, white 48%, transparent 51%)}
                    100%{background-color:transparent}
                }
                @keyframes TileAnimationLineWhiteFade {
                    0%{background: linear-gradient(180deg,transparent 28%, white 48%, transparent 51%)}
                    20%{background: linear-gradient(180deg,transparent 28%, white 48%, transparent 51%)}
                    60%{background: linear-gradient(180deg,transparent 28%, white 48%, transparent 51%)}
                    100%{background-color:transparent}
                }
                
                -webkit-animation: TileAnimationLineWhiteFade 0.9s ease ;
                -moz-animation: TileAnimationLineWhiteFade 0.9s ease ;
                animation: TileAnimationLineWhiteFade 0.9s ease ;
            }
            &.solid-white-fade{
                @-webkit-keyframes TileAnimationWhiteFade {
                    0%{background-color:rgba(186, 182, 189, 0.216)}
                    20%{background-color:rgba(209, 209, 209, 0.499)}
                    60%{background-color:rgba(253, 252, 216, 0.636)}
                    100%{background-color:transparent}
                }
                @-moz-keyframes TileAnimationWhiteFade {
                    0%{background-color:rgba(186, 182, 189, 0.216)}
                    20%{background-color:rgba(209, 209, 209, 0.499)}
                    60%{background-color:rgba(253, 252, 216, 0.636)}
                    100%{background-color:transparent}
                }
                @keyframes TileAnimationWhiteFade { 
                    0%{background-color:rgba(186, 182, 189, 0.216)}
                    20%{background-color:rgba(209, 209, 209, 0.499)}
                    60%{background-color:rgba(253, 252, 216, 0.636)}
                    100%{background-color:transparent}
                }

                -webkit-animation: TileAnimationWhiteFade 0.9s ease ;
                -moz-animation: TileAnimationWhiteFade 0.9s ease ;
                animation: TileAnimationWhiteFade 0.9s ease ;
            }
            &.line-red-fade{
                @-webkit-keyframes TileAnimationRedFade {
                    0%{background-color:rgba(128, 71, 71, 0.416)}
                    20%{background-color:rgba(255, 0, 0, 0.663)}
                    60%{background-color:rgba(208, 113, 113, 0.792)}
                    100%{background-color:transparent}
                }
                @-moz-keyframes TileAnimationRedFade {
                    0%{background-color:rgba(128, 71, 71, 0.416)}
                    20%{background-color:rgba(255, 0, 0, 0.663)}
                    60%{background-color:rgba(208, 113, 113, 0.792)}
                    100%{background-color:transparent}
                }
                @keyframes TileAnimationRedFade { 
                    0%{background-color:rgba(128, 71, 71, 0.416)}
                    20%{background-color:rgba(255, 0, 0, 0.663)}
                    60%{background-color:rgba(208, 113, 113, 0.792)}
                    100%{background-color:transparent}
                }

                -webkit-animation: TileAnimationRedFade 0.9s ease ;
                -moz-animation: TileAnimationRedFade 0.9s ease ;
                animation: TileAnimationRedFade 0.9s ease ;
            }
            &.solid-red-fade{
                @-webkit-keyframes TileAnimationRedFade {
                    0%{background-color:rgba(128, 71, 71, 0.416)}
                    20%{background-color:rgba(255, 0, 0, 0.663)}
                    60%{background-color:rgba(208, 113, 113, 0.792)}
                    100%{background-color:transparent}
                }
                @-moz-keyframes TileAnimationRedFade {
                    0%{background-color:rgba(128, 71, 71, 0.416)}
                    20%{background-color:rgba(255, 0, 0, 0.663)}
                    60%{background-color:rgba(208, 113, 113, 0.792)}
                    100%{background-color:transparent}
                }
                @keyframes TileAnimationRedFade { 
                    0%{background-color:rgba(128, 71, 71, 0.416)}
                    20%{background-color:rgba(255, 0, 0, 0.663)}
                    60%{background-color:rgba(208, 113, 113, 0.792)}
                    100%{background-color:transparent}
                }

                -webkit-animation: TileAnimationRedFade 0.9s ease ;
                -moz-animation: TileAnimationRedFade 0.9s ease ;
                animation: TileAnimationRedFade 0.9s ease ;
            }

            &.solid-purple-fade{
                @-webkit-keyframes TileAnimationPurpleFade {
                    0%{background-color:rgba(103, 71, 128, 0.416)}
                    20%{background-color:rgba(112, 36, 198, 0.558)}
                    60%{background-color:rgba(87, 0, 150, 0.512)}
                    100%{background-color:transparent}
                }
                @-moz-keyframes TileAnimationPurpleFade {
                    0%{background-color:rgba(103, 71, 128, 0.416)}
                    20%{background-color:rgba(112, 36, 198, 0.558)}
                    60%{background-color:rgba(87, 0, 150, 0.512)}
                    100%{background-color:transparent}
                }
                @keyframes TileAnimationPurpleFade { 
                    0%{background-color:rgba(103, 71, 128, 0.416)}
                    20%{background-color:rgba(112, 36, 198, 0.558)}
                    60%{background-color:rgba(87, 0, 150, 0.512)}
                    100%{background-color:transparent}
                }

                -webkit-animation: TileAnimationPurpleFade 0.9s ease ;
                -moz-animation: TileAnimationPurpleFade 0.9s ease ;
                animation: TileAnimationPurpleFade 0.9s ease ;
            }

            &.solid-green-fade{
                @-webkit-keyframes TileAnimationGreenFade {
                    0%{background-color:rgba(169, 226, 160, 0.416)}
                    20%{background-color:rgba(43, 142, 43, 0.753)}
                    60%{background-color:rgba(26, 110, 0, 0.841)}
                    100%{background-color:transparent}
                }
                @-moz-keyframes TileAnimationGreenFade {
                    0%{background-color:rgba(169, 226, 160, 0.416)}
                    20%{background-color:rgba(43, 142, 43, 0.753)}
                    60%{background-color:rgba(26, 110, 0, 0.841)}
                    100%{background-color:transparent}
                }
                @keyframes TileAnimationGreenFade { 
                    0%{background-color:rgba(169, 226, 160, 0.416)}
                    20%{background-color:rgba(43, 142, 43, 0.753)}
                    60%{background-color:rgba(26, 110, 0, 0.841)}
                    100%{background-color:transparent}
                }

                -webkit-animation: TileAnimationGreenFade 0.9s ease ;
                -moz-animation: TileAnimationGreenFade 0.9s ease ;
                animation: TileAnimationGreenFade 0.9s ease ;
            }
        }
    }
    .combat-grid{
        z-index: 1;
        .combat-tile{
            height: 100px;
            width: 100px;
            position: relative;
            .coord-container{
                position: absolute;
                top: 0;
                left: 0;
                height: 15px;
                width: 30px;
                // border: 1px solid white;
                font-size: 10px;
                // color: white;
                color: transparent;
            }
        }
    }
    


    .fighterHitsAnimation
    {
        z-index: 1001;
        background: linear-gradient(90deg,transparent, white 48%, transparent 51%);
        background-size: 200% 200%;
        -webkit-animation: FighterHits 1s ease ;
        -moz-animation: FighterHits 1s ease ;
        animation: FighterHits 1s ease ;
        background-position:-98% 110%;
    }

    @-webkit-keyframes FighterHits {
        0%{background-position:100% 0%}
        50%{background-position:0% 100%}
        100%{background-position:-98% 110%}
    }
    @-moz-keyframes FighterHits {
        0%{background-position:100% 0%}
        50%{background-position:0% 100%}
        100%{background-position:-98% 110%}
    }
    @keyframes FighterHits { 
        0%{background-position:100% 0%}
        50%{background-position:0% 100%}
        100%{background-position:-98% 110%}
    }

    .fighterHealsAnimation
    {
        z-index: 1001;
        background: linear-gradient(90deg,transparent, rgb(68, 200, 132) 48%, transparent 51%);
        background-size: 200% 200%;
        -webkit-animation: FighterHits 1s ease ;
        -moz-animation: FighterHits 1s ease ;
        animation: FighterHits 1s ease ;
        background-position:-98% 110%;
    }

    @-webkit-keyframes FighterHits {
        0%{background-position:100% 0%}
        50%{background-position:0% 100%}
        100%{background-position:-98% 110%}
    }
    @-moz-keyframes FighterHits {
        0%{background-position:100% 0%}
        50%{background-position:0% 100%}
        100%{background-position:-98% 110%}
    }
    @keyframes FighterHits { 
        0%{background-position:100% 0%}
        50%{background-position:0% 100%}
        100%{background-position:-98% 110%}
    }

    .monsterHitsAnimation
    {
        z-index: 1001;
        background: linear-gradient(90deg,transparent, red 6%, transparent 51%);
        background-size: 200% 200%;
        -webkit-animation: MonsterHits 1s linear ;
        -moz-animation: MonsterHits 1s linear ;
        animation: MonsterHits 1s linear ;
        background-position: 100% 100%;
    }
    .monsterHitsAnimation_LtoR
    {
        z-index: 1001;
        background: linear-gradient(90deg,transparent, red 6%, transparent 51%);
        background-size: 200% 200%;
        -webkit-animation: MonsterHitsLtoR 1s linear ;
        -moz-animation: MonsterHitsLtoR 1s linear ;
        animation: MonsterHitsLtoR 1s linear ;
        background-position: 100% 100%;
    }

    @-webkit-keyframes MonsterHitsLtoR {
        0%{background-position:100% -100%}
        50%{background-position:-50% -100%}
        100%{background-position:-100% -100%}
    }
    @-moz-keyframes MonsterHitsLtoR {
        0%{background-position:100% -100%}
        50%{background-position:-50% -100%}
        100%{background-position:-100% -100%}
    }
    @keyframes MonsterHitsLtoR { 
        0%{background-position:100% -100%}
        50%{background-position:-50% -100%}
        100%{background-position:-100% -100%}
    }


    @-webkit-keyframes MonsterHits {
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }
    @-moz-keyframes MonsterHits {
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }
    @keyframes MonsterHits { 
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }

    .fighterWoundedAnimation{
        // box-shadow: 0px 0px 0px red;
        -webkit-animation: fighterWoundedAnimation 0.5s linear;
        -moz-animation: fighterWoundedAnimation 0.5s linear;
        animation: fighterWoundedAnimation 0.5s linear;
    }
    @-webkit-keyframes fighterWoundedAnimation{
        0% {box-shadow: 0px 0px 0px red;}
        50%{box-shadow: 0px 0px 40px red;}
        100%{box-shadow: 0px 0px 10px red;}
    }
    @-moz-keyframes fighterWoundedAnimation {
        0% {box-shadow: 0px 0px 0px red;}
        50%{box-shadow: 0px 0px 40px red;}
        100%{box-shadow: 0px 0px 10px red;}
    }
    @keyframes fighterWoundedAnimation { 
        0% {box-shadow: 0px 0px 0px red;}
        50%{box-shadow: 0px 0px 40px red;}
        100%{box-shadow: 0px 0px 20px red;}
    }

    .monsterWoundedAnimation{
        background: linear-gradient(270deg, transparent, red 0%, transparent 2%);
        background-size: 100% 100%;
        background-position: 100% 100%;
    }
    @-webkit-keyframes MonsterHits {
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }
    @-moz-keyframes MonsterHits {
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }
    @keyframes MonsterHits { 
        0%{background-position:-100% 100%}
        50%{background-position:50% 100%}
        100%{background-position:100% 100%}
    }

    .fighterDeadAnimation{
        filter: blur(20px);
        -webkit-animation: FighterDead 5s forwards ;
        -moz-animation: FighterDead 5s forwards ;
        animation: FighterDead 5s forwards ;
    }
    .monsterDeadAnimation{
        filter: blur(10px);
        -webkit-animation: FighterDead 5s forwards ;
        -moz-animation: FighterDead 5s forwards ;
        animation: FighterDead 5s forwards ;
    }
    @-webkit-keyframes FighterDead {
        0%{filter: blur(1px);}
        70%{filter: blur(2px);}
        100%{filter: blur(13px);}
    }
    @-moz-keyframes FighterDead {
        0%{filter: blur(1px);}
        70%{filter: blur(2px);}
        100%{filter: blur(13px);}
    }
    @keyframes FighterDead { 
        0%{filter: blur(1px);}
        70%{filter: blur(2px);}
        100%{filter: blur(13px);}
    }
    

    

    

    .mb-col{
        width: 200px;
        // height: 100%;
        height: calc(100% - 230px);
        // border: 1px solid yellow;
    }
    .portrait{
        // filter: saturate(67.5);
        // filter: saturate(37.5);
        background-size: 100% 100%;
        &.active{
            filter: sepia(1);
        }
        &.dead{
            filter: saturate(0);
        }
    }
    .action-bar{
        width: 100%;
        height: 100px;
    }
    .portrait-wrapper{
        z-index: 1;
    }
    .action-bar-wrapper{
        z-index: 0;
    }
    .ghost-portrait{
        height: 90px;
        width: 90px;
        border-radius: 90px;
        position: relative;
        background-size: 100% 100%;
        filter: brightness(0.3);
    }


    .fighter-pane{
        position: absolute;
        width: 100%;
        height: 100%;
        // padding-top: 50px;
        // top: 50px;
        .fighter-content{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .lane-wrapper{
                width: 100%;
                position: absolute;
                // height: 110px;
                transition: 1s;
                .fighter-wrapper{
                    // border: 1px solid lightgrey;
                    width: 100%;
                    // height: 110px;
                    // height: fit-content;
                    height: 100%;
                    display: flex;
                    position: relative;
                    transition: 1s;
                    &.leader-wrapper{
                        // height: 160px;
                    }
                    .portrait-wrapper{
                        position: absolute;
                        transition: 1s;
                        top: 0;
                        .fighter-portrait{
                            height: 90px;
                            width: 90px;
                            border-radius: 90px;
                            position: relative;
                            cursor: pointer;
                            transition: all 1s;
                            &.missed{
                                transform: scaleY(-1);
                            }
                            &.wounded{
                                animation: fighterWoundedAnimation 3s ease;
                            }
                            &.leader-portrait{
                            }
                            &.selected{
                                border: 1px solid white;
                            }
                            &.targetted{
                                border: 1px solid yellow;
                            }
                            .coord{
                                position: absolute;
                                color: red;
                                font-size: 12px;
                                top: 38%;
                                left: 5px;
                            }
                        }
                    }
                    .action-bar-wrapper{
                        height: 100px;
                        // width: 100%;
                        // width: calc(100% - 300px);
                        display: flex;
                        align-items: center;
                        position: absolute;
                        // left: 0;
                        // border: 1px dashed yellow;
                    }
                }
            }
        }
    }
    .monster-pane{
        position: absolute;

        pointer-events: none;


        // border: 1px solid red;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        // border-left: 1px solid orange;
        // .fighter-portrait{
        //     height: 100px;
        //     width: 100px;
        //     background-size: 100% 100%;
        //     &.active{
        //         filter: sepia(1);
        //     }
        // }
        .lane-wrapper{
            width: 100%;
            position: absolute;
            height: 110px;
            transition: 1s;
            .monster-wrapper{
                height: 100px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                // position: relative;
                position: relative;
                transition: 1s;
    
                // border: 1px solid green;
                // display: inline-flex;
    
                .portrait-wrapper{
                    position: absolute;
                    width: 100px;
                    transition: 1s;
                    top: 0;
                    z-index: 100;
                }
                .weapon-wrapper{
                    position: absolute;
                    z-index: 101;
                    height: 90px;
                    width: 90px;
                    background-size: 100% 100%;
                    filter: invert(100%);
                    transition: all 0.25s;
                    opacity: 0;
                    pointer-events: none;
                    @keyframes WeaponSpins { 
                        0%{
                            transform: rotate(0deg);
                            opacity: 1
                        }
                        50%{transform: rotate(180deg)}
                        100%{transform: rotate(360deg)}
                    }
                    @keyframes WeaponSpinLeft { 
                        0%{
                            transform: rotate(0deg);
                            opacity: 1
                        }
                        50%{transform: rotate(-180deg)}
                        100%{transform: rotate(-360deg)}
                    }
                    @keyframes WeaponSwings { 
                        0%{
                            transform: rotate(-20deg);
                            opacity: 1
                        }
                        50%{transform: rotate(40deg)}
                        100%{transform: rotate(180deg)}
                    }
                    @keyframes WeaponShoots { 
                        0%{
                            transform: rotate(0deg);
                            transform: scaleX(2);
                            opacity: 1
                        }
                        50%{transform: scaleX(1.5)}
                        100%{transform: scaleX(1)}
                    }
                    &.aiming{
                        opacity: 1;
                    }
                    &.swinging{
                        -webkit-animation: WeaponSwings 0.5s linear ;
                        -moz-animation: WeaponSwings 0.5s linear ;
                        animation: WeaponSwings 0.5s linear ;
                    }
                    &.shooting{
                        -webkit-animation: WeaponShoots 0.5s linear ;
                        -moz-animation: WeaponShoots 0.5s linear ;
                        animation: WeaponShoots 0.5s linear ;
                    }
                }
                .indicators-wrapper{
                    opacity: 1;
                    transition: opacity 1s;
                    &.hidden{
                        opacity: 0;
                    }
                }
                .monster-portrait, .minion-portrait{
                    height: 100px;
                    width: 100px;
                    border-radius: 100px;
                    // transition: transform 1s;
                    transition: all 0.5s;
                    &.reversed{
                        transform: scaleX(-1)
                    }
                    &.missed{
                        transform: scaleY(-1);
                    }
                    &.minion-portrait{
                        height: 90px;
                        width: 90px;
                        border-radius: 90px;
                    }
                    &.monster-portrait.enlarged{
                        transform: scale(4);
                        transform-origin: 86px 68px;
                    }
                    
                    pointer-events: initial;
                    position: relative;
                    &.targetted{
                        border: 1px solid yellow;
                    }
                    &.selected{
                        border: 1px solid white;
                    }
                    .targetted-by-container{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 20px;
                        // border: 1px solid white;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-direction: row;
                        .targetted-by-portrait{
                            height: 20px;
                            width: 20px;
                            background-size: 100% 100%;
                        }
                    }
                    .pending-attack-container{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 20px;
                        // border: 1px solid white;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-direction: row;
                        .pending-attack-icon{
                            height: 20px;
                            width: 20px;
                            background-size: 100% 100%;
                            filter: invert(1);
                        }
                    }
                    &.minion-portrait{
                        height: 100px;
                        width: 100px;
                    }
                }
                .action-bar-wrapper{
                    // height: 200px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    left: 0;
                    // border: 1px dashed rgb(149, 13, 13);
                    position: absolute;
                }
                .range-bar-wrapper{
                    // height: 200px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    left: 0;
                    // border: 1px dashed rgb(149, 13, 13);
                    position: absolute;
                }
            }
        }
    }
    
    

    .center-board{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .top-section{
            width: 100%;
            height: 200px;
            // border: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            // .message{
            //     color: white;
            // }
            .greeting-text{
                color: white;
                position: absolute;
                top: 0px;
            }
            &.monster-action{
                justify-content: flex-end; 
                .greeting-text{
                    padding-right: 20px;
                    color: rgb(152, 46, 46);
                }
            }
            &.fighter-leader-action{
                justify-content: flex-start; 
                .greeting-text{
                    padding-left: 20px;
                    // color: red;
                }
            }
            .action-text{
                color: white;
                position: absolute;
                top: 20px;

                &.monster-source{
                    text-align: right;
                    padding-right: 20px;
                }
                &.fighter-source{
                    text-align: left;
                    padding-left: 20px;
                }
            }
            .action-color-band{
                height: 30%;
                width: 100%;
                position: absolute;
                top: 60px;
            }


            
            
        }
        .bottom-section{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .row{
                width: 100%;
                height: 100px;
                position: relative;
                // border: 1px solid blue;
                .action-color-band{
                    height: 30%;
                    width: 100%;
                    position: absolute;
                    top: 40px;
                }
                .action-text{
                    color: white;
                    &.monster-source{
                        text-align: right;
                        padding-right: 20px;
                    }
                    &.fighter-source{
                        text-align: left;
                        padding-left: 20px;
                    }
                }
            }
        }
    }
    .hp-bar, .energy-bar, .tempo-bar{
        height: 4px;
        width: 100%;

    }
    // .monster-hp-bar{
    //     width: 200px;
    // }
    // .leader-hp-bar{
    //     height: 4px;
    //     width: 150px;
        
    // }
    // .fighter-hp-bar{
    //     height: 4px;
    //     width: 100px;
    // }
    // .leader-energy-bar{
    //     height: 4px;
    //     width: 100px;
    // }
    // .fighter-energy-bar{
    //     height: 4px;
    //     width: 100px;
    // }
    // .fighter-energy-bar{
    //     height: 4px;
    //     width: 100px;
    // }
    .tempo-bar{
        position: relative;
        .tempo-indicator{
            height: 4px;
            width: 4px;
            border-radius: 4px;
            background-color: white;
            position: absolute;
            transition: 0.1s;
        }
    }
    .red-fill{
        background-color: red;
        height: 100%;
        transition: all 0.5s;
    }
    .yellow-fill{
        background-color: rgb(195, 195, 87);
        height: 100%;

        width: 100%;
    }
    .purple-fill{
        background-color: rgb(126, 47, 222);
        height: 100%;

        width: 100%;
    }

    .mb-interaction-pane{
        // border: 1px solid (91, 110, 91);;
        height: 0px;
        transition: all 0.75s;
        overflow: hidden;
        &.visible{
            height: 230px;
        }

        width: 100%;
        // position: absolute;
        bottom: 0;
        // border: 1px solid gold;

        .queue-col{
            flex: auto;
        }

        .header-row{
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            .portrait{
                height: 40px;
                width: 40px;
                // border: 1px solid white;
                background-size: 100% 100%;
            }
            .title{
                flex: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                color: white;
                padding-left: 15px;
                position: relative;
                .name{

                }
                .readout {
                    margin-left: 6px;
                }
                .paused-marker{
                    position: absolute;
                    right: 20px;
                }
            }
        }
        .interaction-row{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: calc(100% - 40px);
            flex: auto;
            
            .inventory-col, .specials-col, .attacks-col, .target-col, .queue-col, .glyphs-col{
                height: 100%;
                width: 100px;
                border: 1px solid #ffffff5c;
                color: white;
                &.glyphs-col{
                    height: 100%;
                    border: 1px solid #ffffff5c;
                    color: white;
                    overflow: hidden;
                    transition: all 1s ease-in-out;
                }
                .interaction-header{
                    height: 25px;
                    width: 100%;
                    color: white;
                    text-align: center;
                    border-bottom: 1px solid #ffffff5c;
                }
                .interaction-tooltip{
                    height: 25px;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .interaction-tile-container, .queue-tile-container{
                    height: calc(100% - 51px);
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    &.queue-tile-container{
                        height: calc(100% - 26px);
                        justify-content: center;
                        flex-direction: row;
                        .interaction-tile{
                            margin-right: 5px;
                        }
                    }
                    .interaction-tile-wrapper{
                        position: relative;
                        height: 40px;
                        width: 40px;
                        margin-bottom: 5px;
                    }
                    .interaction-tile-overlay{
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        // transition: 0.2s;
                        // background-color: #fdf512;
                        // background-color: rgb(255, 0, 166);
                        background-color: green;
                        opacity: 0.3;
                        pointer-events: none;
                        border-right: 1px solid black;
                    }
                    .interaction-tile{
                        height: 40px;
                        width: 40px;
                        cursor: pointer;
                        background-color: whitesmoke;
                        margin-bottom: 3px;
                        background-size: 100% 100%;
                        &.available:hover{
                            filter: sepia(1);
                        }
                        &.consumable:hover{
                            filter: sepia(1)
                        }
                        &.special:hover{
                            filter: sepia(1)
                        }
                        &.target.targetted{
                            border: 1px solid rgba(255, 255, 255, 0.68);

                        }
                    }
                }
            }
        }
    }
    &.show-crosshair{
        cursor: crosshair !important;
    }

    // COMBAT ANIMATIONS //
    .weapon-wrapper{
        position: absolute;
        z-index: 101;
        height: 90px;
        width: 90px;
        background-size: 100% 100%;
        filter: invert(100%);
        transition: all 0.25s;
        opacity: 0;
        pointer-events: none;
        @keyframes WeaponSwings { 
            0%{
                transform: rotate(-20deg);
                opacity: 1
            }
            50%{transform: rotate(40deg)}
            100%{transform: rotate(180deg)}
        }
        @keyframes WeaponSwingsLeft { 
            0%{
                transform: rotate(20deg);
                opacity: 1
            }
            50%{transform: rotate(-40deg)}
            100%{transform: rotate(-180deg)}
        }
        @keyframes WeaponShoots { 
            0%{
                transform: rotate(0deg);
                transform: scaleX(2);
                opacity: 1
            }
            50%{transform: scaleX(1.5)}
            100%{transform: scaleX(1)}
        }
        &.aiming{
            opacity: 1;
        }
        &.spinning{
            -webkit-animation: WeaponSpins 1s linear ;
            -moz-animation: WeaponSpins 1s linear ;
            animation: WeaponSpins 1s linear ;
        }
        &.spin-left{
            -webkit-animation: WeaponSpinLeft 1s linear ;
            -moz-animation: WeaponSpinLeft 1s linear ;
            animation: WeaponSpinLeft 1s linear ;
        }
        &.swinging-right{
            -webkit-animation: WeaponSwings 0.5s linear ;
            -moz-animation: WeaponSwings 0.5s linear ;
            animation: WeaponSwings 0.5s linear ;
        }
        &.swinging-left{
            -webkit-animation: WeaponSwingsLeft 0.5s linear ;
            -moz-animation: WeaponSwingsLeft 0.5s linear ;
            animation: WeaponSwingsLeft 0.5s linear ;
        }
        &.shooting{
            -webkit-animation: WeaponShoots 0.5s linear ;
            -moz-animation: WeaponShoots 0.5s linear ;
            animation: WeaponShoots 0.5s linear ;
        }
    }
}