html, body{
  height: 100%;
  width: 100%;
}
#root{
  height: 100%;
}
button{
  cursor: pointer;
}
.fullpage{
  height: 100vh;
  width: 100vw;;
}
.relative-wrapper{
  position: relative;
}
.absolute-wrapper{
  position: absolute;
}
.button{
  cursor: pointer;
  border-width: 1px;
  border-style: outset;
  border-radius: 2px;
  &:hover{
    background-color: lightsteelblue;
    border: 1px solid black;
    border-radius: 2px;
    padding: 1px 6px;
    border-width: 1px;
    border-style: outset;
  }
}

.App {
  background-color: black;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 15;
  .nav-buttons-container{
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
  }
  .menu-buttons{
    cursor: pointer;
  }
  .logout-button{
    &:hovered{
      
    }
  }
  .save-button{
    cursor: pointer;
  }
  .go-home-button{
    cursor: pointer;
  }
  .show-coordinates-button{
    cursor: pointer;
  }
  .pane{
    background-color: white;
    border-radius: 5px;
  }
  
  .login-pane{
    height: 40vh;
    min-height: 260px;
    width: 40vw;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    .invalid-credentials{
      color: red;
      position: absolute;
      top: 25px;
      width: 200%;
    }
  }
  .login-button{
    margin-right: 30px;
  }
  .inputs-container-row{
    width: 100%;
    display: inline-flex;
    position: relative;
    display: flex;
    justify-content: center;
    .inputs-container{
      min-height: 125px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: relative;
      
      
    }
  }
}
.springer-container{
  background: grey;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.landing-pane{
  height: 60vh;
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .landing-buttons-container{
    // height: 50%;
    width: 40%;
    max-width: 300px;
    border: 1px solid black;
    .landing-button{
      cursor: pointer;
      max-height: 100px;
      height: 50px;
      width: 100%;
      border-bottom: 1px solid black;


      max-height: 100px;
      height: 50px;
      width: 100%;
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;


      &.map-maker:hover{
        background-color: rosybrown;
      }
      &.user-data:hover{
        background-color: paleturquoise;
      }
      &.shop:hover{
        background-color: coral;
      }
      &.enter-dungeon:hover{
        background-color: black;
        color: red;
      }
    }
    .landing-button-last{
      cursor: pointer;
      max-height: 100px;
      height: 50px;
      width: 100%;
      max-height: 100px;
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;

      &.map-maker:hover{
        background-color: thistle;
      }
      &.user-manager:hover{
        background-color: powderblue;
        // color: white;
      }
    }
  }
  // .user-row, .admin-row{
  //   width: 100%;
  //   height: 50%;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-evenly;
  //   align-items: center;
  //   div{
  //     cursor: pointer;
  //     transition: all 0.5s;
  //     border: 1px solid slategray;
  //     // height: 100px;
  //     // width: 150px;
  //     height: 55%;
  //     width: 20%;
  //     border-radius: 5px;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     &.map-maker:hover{
  //       background-color: thistle;
  //     }
  //     &.user-manager:hover{
  //       background-color: rgb(115, 145, 154);
  //       color: white;
  //     }
  //     &.user-data:hover{
  //       background-color: paleturquoise;
  //     }
  //     &.shop:hover{
  //       background-color: coral;
  //     }
  //     &.enter-dungeon:hover{
  //       background-color: black;
  //       color: red;
  //     }
  //   }
  // }
}
.droppable {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  top: 10;
  background-color: #9E9E9E;
  border-left: 2px dotted red;
}

.draggable {
  width: 100px;
  height: 100px;
  // background-color: yellow;
  // margin: 10px auto;
}

.inProgress {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 2px dotted red;
}