html, body{
  height: 100%;
  width: 100%;
}
#root{
  height: 100%;
}
button{
  cursor: pointer;
}
.fullpage{
  height: 100vh;
  width: 100vw;;
}
.relative-wrapper{
  position: relative;
}
.absolute-wrapper{
  position: absolute;
}
.button{
  cursor: pointer;
  border-width: 1px;
  border-style: outset;
  border-radius: 2px;
  &:hover{
    background-color: lightsteelblue;
    border: 1px solid black;
    border-radius: 2px;
    padding: 1px 6px;
    border-width: 1px;
    border-style: outset;
  }
}

.App {
  background-color: black;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 15;
  overflow: hidden;
  position: relative;
  .nav-buttons-container{
    width: fit-content;
    flex-direction: column;
    // height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    // z-index: 1000;
    // z-index: 0;
    z-index: 4;
    display: flex;
    .hamburger-button{
      background-size: 100% 100%;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
    .menu-tray{
      height: 200px;
      width: 189px;
      // border: 1px solid yellow;
      flex-direction: column;
      justify-content: space-around;
      display: flex;
      overflow: hidden;
      transition: all 1s ease-in-out;
      align-items: flex-start;
      padding-left: 10px;
      background-color: black;
    }
  }
  .menu-buttons{
    cursor: pointer;
    background-color: transparent;
    color: white;
    box-shadow: none;
    border: none;
    &:hover{
      color: rgb(79, 206, 245);
    }
  }
  .logout-button{
    &:hovered{
      
    }
  }
  .save-button{
    cursor: pointer;
  }
  .go-home-button{
    cursor: pointer;
  }
  .show-coordinates-button{
    cursor: pointer;
  }
  .pane{
    background-color: white;
    border-radius: 5px;
  }
  
  .login-pane{
    height: 40vh;
    min-height: 260px;
    width: 40vw;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    .invalid-credentials{
      color: red;
      position: absolute;
      top: 25px;
      width: 200%;
    }
    .space-around{
      justify-content: space-around;
      display: flex;
    }
    .buttons-bar{
      width: 200px;
      // border: 1px solid red;
      .back-button{
        border: none;
        background: none;
        display: flex;
        justify-content: space-around;
        &:hover{
          color: blue;
        }
      }
    }
  }
  .login-button{
    margin-right: 30px;
  }
  .inputs-container-row{
    width: 100%;
    display: inline-flex;
    position: relative;
    display: flex;
    justify-content: center;
    .inputs-container{
      min-height: 125px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: relative;
      
      
    }
  }
}
.springer-container{
  background: grey;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}
.intro-pane{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  user-select: none;
  background-color: black !important;
  padding: 40px 0px;
  
  .intro-image{
    // height: 80%;
    // width: 80%;
    height: 80vh;
    width: 90vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transition: all 1.5s;
    // &.obscured:before {
    //   content: ' ';
    //   display: block;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   opacity: 0.6;
    //   background-color: black;
    //   background-repeat: no-repeat;
    //   background-position: 50% 0;
    //   background-size: cover;
    // }
    &.wrecked{
      filter: invert(1) saturate(35.5);
      transform: perspective(350px) translateX(-3px) translateZ(130px) rotate(40deg)
      scaleX(1.2) scaleY(0.9) skewX(10deg) skewY(35deg);
      opacity: 0.5;
    }
    &.more-wrecked{
      transition: all 1.5s ease-in-out;
      filter: invert(1) saturate(35.5);
      transform: perspective(350px) translateX(-3px) translateZ(306px) rotate(40deg)
      scaleX(1.2) scaleY(0.9) skewX(10deg) skewY(35deg);
    }
  }
  .text-container{
    height: 10%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
  }
}
.landing-pane{
  height: 60vh;
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  user-select: none;
  .landing-buttons-container{
    position: relative;
    width: 40%;
    max-width: 300px;
    border: 1px solid black;
    .warning{
      position: absolute;
      top: -35px;
      width: 100%;
      left: 0;
    }
    .landing-button{
      cursor: pointer;
      max-height: 100px;
      height: 50px;
      width: 100%;
      border-bottom: 1px solid black;


      max-height: 100px;
      height: 50px;
      width: 100%;
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;


      &.map-maker:hover{
        background-color: rosybrown;
      }
      &.user-data:hover{
        background-color: paleturquoise;
      }
      &.shop:hover{
        background-color: coral;
      }
      &.enter-dungeon:hover{
        background-color: black;
        color: red;
        &.disabled{
          background-color: lightgrey;
          color: grey;
        }
      }
    }
    .landing-button-last{
      cursor: pointer;
      max-height: 100px;
      height: 50px;
      width: 100%;
      max-height: 100px;
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;

      &.map-maker:hover{
        background-color: thistle;
      }
      &.user-manager:hover{
        background-color: powderblue;
        // color: white;
      }
    }
  }
  // .user-row, .admin-row{
  //   width: 100%;
  //   height: 50%;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-evenly;
  //   align-items: center;
  //   div{
  //     cursor: pointer;
  //     transition: all 0.5s;
  //     border: 1px solid slategray;
  //     // height: 100px;
  //     // width: 150px;
  //     height: 55%;
  //     width: 20%;
  //     border-radius: 5px;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     &.map-maker:hover{
  //       background-color: thistle;
  //     }
  //     &.user-manager:hover{
  //       background-color: rgb(115, 145, 154);
  //       color: white;
  //     }
  //     &.user-data:hover{
  //       background-color: paleturquoise;
  //     }
  //     &.shop:hover{
  //       background-color: coral;
  //     }
  //     &.enter-dungeon:hover{
  //       background-color: black;
  //       color: red;
  //     }
  //   }
  // }
}
.droppable {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  top: 10;
  background-color: #9E9E9E;
  border-left: 2px dotted red;
}

.draggable {
  width: 100px;
  height: 100px;
  // background-color: yellow;
  // margin: 10px auto;
}

.inProgress {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 2px dotted red;
}
.exposition-pane{
  height: 350px;
  width: 500px;
  border-top: 2px solid lavender;
  border-radius: 5px;
  background-color: aliceblue;
}
.user-profile-pane{
  height: 60vh;
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .content-container{
    height: 50%;
    width: 40%;
    max-width: 300px;
    border: 1px solid black;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    
    .landing-button{
      cursor: pointer;
      max-height: 100px;
      height: 50px;
      width: 100%;
      border-bottom: 1px solid black;


      max-height: 100px;
      height: 50px;
      width: 100%;
      border-bottom: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.crew-manager{
  height: 60vh;
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  .content-container{
    height: 100%;
    width: 100%;
    // background-color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    .title{
      color: white;
      // border: 1px solid green;
    }
    .crew-selector{
      flex: auto;
      display: flex;
      flex-direction: column;
      .crew-options{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .portrait{
          height: 100px;
          width: 100px;
          background-size: 100% 100%;
          cursor: pointer;
          &:hover{
            filter: sepia(1);
          }
        }
      }
      .member-panel{
        flex: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        justify-content: flex-start;
        
        .giant-portrait{
          height: 200px;
          width: 200px;
          min-width: 200px;
          background-size: 100% 100%;
          margin-right: 15px;
          position: relative;
          .name{
            position: absolute;
            bottom: -50px;
            left: 0;
            font-size: 20px;
            width: 100%;
          }
          .add-button{
            position: absolute;
            bottom: 0;
            left: 100px;
            border-radius: 40px;

            position: absolute;
            bottom: -20px;
            left: 85px;
            height: 40px;
            width: 40px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            cursor: pointer;
          }
        }
        .details-pane{
          text-align: left;
          margin-right: 15px;
          .description{
            max-width: 200px;
            font-size: 14px;
            text-align: left;
          }
        }
        .stats-pane{
          text-align: left;
          margin-right: 15px;
          min-width: 140px;
        }
        .abilities-pane{
          font-size: 12px;
          min-width: 200px;
          max-width: 280px;
          text-align: left;
          margin-right: 15px;
          .specials, .attacks, .weaknesses, .passives{
            display: flex;
            flex-wrap: wrap;
          }
        }
        
      }
      .crew-tray{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .selected-crew-portrait-container{
          height: 101px;
          width: 101px;
          border: 1px solid white;
          position: relative;
          &.closed{
            border: 1px solid rgb(124, 122, 122);
          }
          .portrait{
            height: 100%;
            background-size: 100% 100%;
          }
          .add-button{
            position: absolute;
            color: #8e8c8c;
            top: -48px;
            left: 34px;
            font-size: 35px;
            cursor: pointer;
            &:hover{
              color: white;
            }
            &.disabled{
              color: #8e8c8c !important;
              cursor:default;
            }
            // border: 1px solid white;
            // width: 20px;
            // height: 20px;
            // border-radius: 20px;

            // width:20px;
            // height:20px;
            // border-radius:100%;
            // position:relative;
            // margin:4px;
            // display:inline-block;
            // vertical-align:middle;
          }
        }
        .selected-crew-portrait-wrapper{
          height: 100px;
          width: 100px;
          &.empty{

          }
          &.locked{
            
            background-color: rgba(211, 211, 211, 0.605);
          }
          .portrait{
            height: 100px;
            width: 100px;
            background-size: 100% 100%;
          }
        }
      }
    }
    .button-row{
      position: absolute;
      bottom: -33px;
      right: 0;
    } 
    .button-row-bottom-left{
      position: absolute;
      bottom: -33px;
      left: 0;
    }
    .button-row-top{
      position: absolute;
      top: -33px;
      left: 0;
    }
  }
}
.modal-body{
  .modal-zone{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .options-row{
      display: flex;
      flex-direction: row;
      .options-zone{
        .option{
          width: fit-content;
          cursor: pointer;
          &:hover{
            color: blue;
          }
          &.disabled{
            color: lightgray;
            pointer-events: none;
          }
        }
      }
    }
  }
}